# ignore eclipse project files
.project
.classpath
# ignore Intellij Idea project files
.idea
*.iml
/target/
# ignore VSCode environment
.vscode/settings.json

/bin/
build
.settings/
/.gradle/
/gradle/
/gradlew
/gradlew.bat
.gitmodules
